
@import url(/font/);
@font-face {
   font-family: poppin;
   src:  url(/font/Poppins-Black.ttf),
         url(/font/Poppins-BlackItalic.ttf),
         url(/font/Poppins-Bold.ttf),
         url(/font/Poppins-Medium.ttf),
         url(/font/Poppins-Light.ttf),
         url(/font/*.ttf)
         ;
}
@font-face {
   font-family: roboto;
   src:  url(/font/Roboto/Roboto-Black.ttf),
         url(/font/Roboto/Roboto-Bold.ttf),
         url(/font/Roboto/Roboto-Light.ttf),
         url(/font/Roboto/Roboto-Thin.ttf),
         ;
}
@font-face {
   font-family: worksan;
   src:  url(/font/worksans/WorkSans-Black.ttf),
         url(/font/worksans/WorkSans-Bold.ttf),
         url(/font/worksans/WorkSans-Italic.ttf),
         url(/font/worksans/WorkSans-Medium.ttf),
         ;
   font-weight: lighter;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   font-size: 62.5%;
   font-family: worksan;
   scroll-behavior: smooth;
}
:root {
   --main-color: #dbe4e9;
   --fontColor: #ffffff;
   --height-header: 157px;
   --whiteGreen: #e7f3e3;
   --yellow: #ff9d0095;
   --yellow1:rgb(255, 115, 0);
}

.app {
   /* width: 100%; */
   position: relative;
   background-image: linear-gradient(to bottom right, #c3d6e2 0%, #e6f4fb 100%);
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
   animation: gradient 16s ease infinite;
   -webkit-animation: gradient 16s ease infinite;
}
#header {
   z-index: 10;
   height: var(--height-header);
   color: var(--fontColor);
   width: 100%;
   padding: 0 160px;
   height: auto;
}
.header_nav {
   font-weight: 500;
   width: 100%;
   height: fit-content;
   padding: calc(1% + 4px) 0 calc(1% + 5px);
   font-size: 1.3rem; 
   height: 10px;
}
.header_nav-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: inherit;
   height: fit-content;
   list-style: none;
}
.nav-logo {
   display: none;
   z-index: 1;
   width: 204px;
   animation: apear 0.4s linear;
   -webkit-animation: apear 0.4s linear;
}

.header_nav-list-left {
 
}
.header_nav-list-left ul {
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header_nav-list-left ul li {
   margin-inline: 15px;
}
.header_nav-list-left ul .nav-download {
   position: relative;
   cursor: pointer;
}
.header_nav-list-left ul .nav-download::after {
   content: '';
   position: absolute;
   height: 26px;
   width: 1px;
   right: -15px;
   top: -5px;
   background-color: var(--fontColor);
}
.header_nav-list-left ul .nav-download:hover > .nav-logo {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: white;
   max-width: 200px;
   height: 280px;
   top: calc(100% + 10px);
   left: -12px;
   padding-bottom: 12px;
   cursor: initial;
   box-shadow: 3px 3px 10px 3px  rgba(0,0,0,0.05);
}
.nav-download:hover > span {
   font-weight: bold;
}
.nav-logo::before {
   content: '';
   position: absolute;
   width: 100px;
   height: 20px;
   top: -20px;
   left: 0;
   background-color: transparent;
}
.nav-logo img {
   width: 200px;
}
.nav-logo-link {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   float: left;
}          
.nav-logo-link a {   
   cursor: pointer;
   margin: 10px;
   width: 40%;
}
.nav-logo-link a img {
   width: 100%;
}
.nav-connect {
   cursor:default;
}
.nav-connect a {
   text-decoration: none;
   color: var(--fontColor);
}
.nav-connect a:hover > i {
   color: black;
   box-shadow:inset 0 0 2px 3px rgb(0,0,0,0.05) ;
}

                                 /* HEADER RIGHT */
.header_nav-list-right {

}
.header_nav-list-right ul {
   position: relative;
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header_nav-list-right ul li {
   margin-inline: 15px;
   position: relative;
}
.nav-list-right_info:hover > i,
.nav-list-right_info:hover > span {
   font-weight: bold;
   cursor: pointer;
}
.nav-list-right_info_view {
   display: none;
   position: relative;
   width: 0;
   height: 0;
   z-index: 2;
   animation: grow 0.3s ease-out;
   -webkit-animation: grow 0.3s ease-out;
   border-radius: 3px;
   box-shadow: 3px 4px 10px 3px rgba(0, 0, 0, 0.05);
   font-family: 'Roboto',sans-serif;
}
.suggess-login-text {
   color: #363636;
}
.chooselanguage {
   position: absolute;
   right: 0;
   top: calc(100% + 10px);
   display: none;
   align-items: center;
   z-index: 1;
   width: 170px;
   height: 80px;
   animation: bigger3 0.2s linear;
   -webkit-animation: bigger3 0.2s linear;
   background-color: white;
   color: black;
   border-radius: 3px;
}
.chooselanguage::after {
   content: '';
   position: absolute;
   background-color: transparent;
   height: 20px;
   width: 100px;
   right: 0;
   bottom: 100%;
}
.chooselanguage::before {
   content: '';
   position: absolute;
   bottom: 99%;
   right: 30px;
   border: 15px solid;
   border-color: transparent transparent var(--fontColor) transparent;
}
.chooselanguage span {
   display: block;
   cursor: pointer;
   height: 40px;
   width: 100%;
   padding: 10px;
   color: rgb(57, 57, 57);
   border-radius: 3px;
}
.chooselanguage span:hover {
   color: var(--main-color);
   background-color: #363636;
}
.nav-list-right_info_view::after {
   content: '';
   position: absolute;
   background-color: transparent;
   height: 19px;
   width: 200px;
   right: 0;
   bottom: 100%;
}
.nav-list-right_info_view::before {
   content: '';
   position: absolute;
   bottom: 99%;
   right: 30px;
   border: 30px solid;
   border-color: transparent transparent white transparent;
}
.nav-list-right_info:hover > .nav-list-right_info_view {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   position: absolute;
   background-color: rgb(255, 255, 255);
   right: 0;
   top: calc(100% + 20px);
   width: 454px;
   height: 390px;
}
.nav-list-right_info:hover > span {
   margin: 0 auto;
   font-weight: bold;
   cursor: pointer;
}
.nav-list-right_info_view img {
   display: inline-block;
   position: relative;
   transform: translateY(100%);
   flex: 0;
   margin: 0 auto;
   max-width: 100px;
}

.nav-list-right_info_view .right_info_view_authenticate {
   flex: -1;
   display: flex;
   width: 100%;
   height: 60px;
   justify-content: space-around;
   align-items: center;
   background-color: rgb(180, 179, 179);
   border-radius: 3px;
}
.right_info_view_authenticate a {
   position: relative;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 50%;
   height: 100%;
   text-decoration: none;
   color: white;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
}
.right_info_view_authenticate a:hover {
   display: flex;
   height: 100%;
   background-color: var(--fontColor);
   color: black;
}
.nav-list-right_help i {
   border: 1px solid var(--fontColor);
   border-radius: 50%;
}
.nav-list-right_help:hover > span,
.nav-list-right_help:hover > i
{
   cursor: pointer;
   font-weight: bold;
}
.nav-list-right_lang:hover > span ,
.nav-list-right_lang:hover > i 
{
   cursor: pointer;
   font-weight: bold;
}
.nav-list-right_lang:hover .chooselanguage{
   display: block;
}

.nav-list-right_signup:hover {
   position: relative;
   cursor: pointer;
   font-weight: bold;
}
.nav-list-right_signup::after {
   content: '';
   position: absolute;
   height: 26px;
   width: 0.5px;
   right: -15px;
   top: -5px;
   background-color: var(--fontColor);
}
.nav-list-right_login:hover {
   cursor: pointer;
   font-weight: bold;
}

                                    /* HEADER MAIN */

.header_main {
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-sizing: content-box;
   padding: 2% 0;
   width: 100%;
   height: auto;
}
.header_main_logo {
   width: 250px;
   height: 80px;
}
.header_main_logo img {
   width: 100%;
   height: 100%;
}
.header_main_input {
   position: relative;
   flex: 1;
   height: 44px;
   margin: 0 50px;
   font-size: 1.4rem;
   font-weight: 500;
}
.header_main_input input {
   background-color: transparent;
   border: 1px solid white;
   position: relative;
   width: 100%;
   height: 100%;
   padding: 0 20px 0;
   border-radius: 40px;
   color: var(--fontColor);
   transition: .5s;
   appearance: search;
   -webkit-appearance: search;
}
input::-webkit-calendar-picker-indicator {
   display: none;
}
.header_main_input i {
   display: block;
   position: absolute;
   float: right;
   box-sizing: content-box;
   font-size: 1.6rem;
   font-weight: 900;
   padding: 9px 22px;
   max-height: 46px;
   background-color: var(--main-color);
   cursor: pointer;
   color: var(--fontColor);
   border-radius: 3px;
   border-radius: 30px;
   top: 50%;
   right: 5px;
   transform: translateY(-50%);
   transition: .5s;
}
.header_main_input input:focus {
   transform: scale(1.06);
}
.header_main_input input:focus ~ i {
   background-color: transparent;
   right: -20px;
}
.header_main_input i:hover {
   background-color: rgb(127, 132, 131);
}
#history-search {
   position: absolute;
   color: #ffffff;
   width: 100%;
   height: fit-content;
   left: 0;
   top: 110%;
   z-index: 1;
   box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.06);
   border-radius: 5px;
   overflow: hidden;
}
#history-search option {
   width: 100%;
   padding: 10px 20px ;
   cursor: pointer;
   font-weight: 400;
   font-size: 1.5rem;
   background-color: rgb(254, 254, 254);
}
#history-search option:hover {
   background-color: var(--main-color);
}
.header_main_cart {
   position: relative;
   cursor: pointer;
   width: fit-content;
   height: fit-content;
   margin-left: 0 40px;
}
.header_main_cart i {
   font-size: 2.4rem;
   font-weight: 500;
}
.header_main_cart-number {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 23px;
   height: 23px;
   font-size: 1.4rem;
   font-weight: 800;
   border-radius: 50%;
   bottom: 20px;
   right: -10px;
   background-color: white;
   color: black;
   border: 3px solid var(--main-color);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}
.header_main_cart-list {
   position: absolute;
   display: none;
   right: -20px;
   top: calc(100% + 20px);
   width: 400px;
   height: auto;
   z-index: 1;
   box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.1);
   background-color: rgb(255, 255, 255);
   animation: grow 0.3s ease-in-out;
   -webkit-animation: grow 0.3s ease-in-out;
   z-index: 11;
}
.header_main_cart-list::before {
   content: '';
   position: absolute;
   bottom: 100%;
   right: 14px;
   border: 20px solid;
   border-color: transparent transparent white transparent;
}
.header_main_cart-list::after {
   content: '';
   position: absolute;
   top: -20px;
   right: 0;
   width: 100px;
   height: 20px;
}
.header_main_cart:hover .header_main_cart-list {
   display: block;
}
.header_main_cart-list > h4 {
   display: block;
   width: 100%;
   height: 48px;
   padding: 20px;
   text-align: center;
   font-weight: 500;
   font-size: 1.4rem;
   color: #a09f9f;
   background-color: white;
}
.header_main_cart-list-product {
   list-style: none;
   width: 100%;
   height: fit-content;
   max-height: 60vh;
   color: var(--fontColor);
   overflow-y: auto;
   font-family: 'Roboto';
}

.header_main_cart:hover .header_main_cart-list-product
{
   display: block;
}
.header_main_cart-item {
   width: 100%;
   height: 62px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 13px;
   transition: .2s linear;

}  

.header_main_cart-item:hover {
   background-color: #D9AFD9;
   background-image: linear-gradient(302deg, #D9AFD9 5%, #97D9E1 58%, #ffffff 93%);
   color: white;
}
.cart-item-image {
   width: 42px;
   height: 42px;   
   border: 1px solid var(--fontColor);
}
.cart-item-content {
   width: 212px;
   margin-left: 5px;
}
.cart-item-content_header {
   width: 100%;
   line-height: 22px;
   font-size: 1.3rem;
   font-weight: 500;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   color: #494949;
}
.cart-item-content_classify {
   font-size: 1.2rem;
   font-weight: 500; 
   color: #787878;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.cart-item-info {
   font-size: 1.3rem;
   color: black;
}
.cart-item_unit-price {
   text-shadow: 1px 1px 1px var(--fontColor);
}
.cart-item-delete {
   float: right;
   margin-top: 8px;
}
.cart-item-delete:hover {
   text-shadow: 1px 1px 1px var(--fontColor);
}

                                    /* MAIN SLIDE*/

#main {
   position: relative;
   display: block;
   width: 100%;
   height: auto;
   padding: 1% 158px;
   gap: 40px;
}
.main_slide-product {
   position: relative;
   height: calc(100vh - var(--height-header) - 20px);
   overflow: hidden;
   position: relative;
   bottom: 20px;
   box-shadow: 
   3px 3px 3px 2px rgba(0, 0, 0, 0.1),
   3px 3px 8px 4px rgba(0, 0, 0, 0.1);
}
.main_slide-product a {
   display: block;
   width: 200px;
   height: 70px;
   position: absolute;
   left: 50%;
   top: 65%;
   border: 2px solid var(--main-color);
   background-color: rgba(48, 48, 48, 0.413);
   border-radius: 4px;
   text-decoration: none;
   transform: translateX(-50%);
   transition: 0.1s;
   padding: 3px;
   text-decoration: none;
   z-index: 2;
}
.btn-slide button {
   position: relative;
   display: block;
   width: 100%;
   height: 100%;
   font-weight: 800;
   font-size: 2rem;
   color: rgb(255, 255, 255); 
   background-color: transparent;
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   -webkit-text-fill-color: transparent; 
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: white;
   border: none;
   text-shadow: 0 0 10px var(--fontColor);
   cursor: pointer;
}
.btn-slide::after {
   position: absolute;
   content: '';
   width: calc(100% + 10px);
   height: calc(100% + 10px);
   left: -5px;
   top: -5px;
   border-radius: 4px;
   border: 3px solid var(--main-color);
}
.btn-slide:hover, 
.btn-slide:active {
  animation: pulse 1.1s infinite;
  -webkit-animation: pulse 1.1s infinite;
  box-shadow: 0 0 0 30px transparent;
}
.btn-slide:hover button, 
.btn-slide:active button {
   color: transparent;
   -webkit-text-stroke: 2px var(--main-color);
   text-shadow: 0 0 20px var(--main-color);
}

.main_slide-product > button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 40px;
   height: 100px;
   background-color: rgba(0, 0, 0, 0.3);
   z-index: 10;
   cursor: pointer;
   border: none;
}
.main_slide-product > .slide-turn-left {
   left: 0;
}
.main_slide-product > .slide-turn-left:hover {
   background-color: rgb(0,0,0,0.5);
}
.main_slide-product > .slide-turn-right {
   right: 0;
}
.main_slide-product > .slide-turn-right:hover {
   background-color: rgb(0,0,0,0.5);
}
.slide-turn-left i, 
.slide-turn-right i {
   color: white;
   font-size: 3rem;
   text-align: center;
}

.chooseSlide {
   display: flex;
   width: 15%;
   height: 20px;
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
   justify-content: space-between;
   z-index: 10;
}
.chooseSlide input {
   color: white;
   border: 1px solid white;
   border-radius: 50%;
   height: 15px;
   width: 15px;
   cursor: pointer;
}
.active-input-radio {
   color: white;
   appearance: radio;
   -webkit-appearance: radio;
}
.main-slider {
   display: block;
   position: relative;
   box-shadow: inset 0 0 50px 10px var(--main-color);
   width: 500%;
   height: 100%;
   top: 0;
   left: 0;
   /* animation: slider 40s linear infinite;
   -webkit-animation: slider 40s linear infinite; */
   transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
   overflow-x: auto;
}


.slide-item {
   position: relative;
   width: 20%;
   height: inherit;
   float: left;
}
.slide-item_text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-80%);
   z-index: 1;
   text-align: center;
   padding: 20px;
   box-sizing: content-box;
   
}
.slide-item_text h1 {
   display: block;
   color: transparent;
   text-transform: capitalize;
   font-weight: 900;
   font-size: 6rem;
   -webkit-text-stroke: 5px var(--main-color);
   background-image: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   filter: drop-shadow(2px 2px #333);
   background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
   animation: gradient 16s ease infinite;
   -webkit-animation: gradient 16s ease infinite;
}
.slide-item_text p {
   color: rgb(245, 242, 242);
   font-weight: 600;
   font-size: 2rem;
   text-shadow: 0 0 5px black;
}
.slide-item img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #eee;
}

                     /* MAIN PRODUCT */
#main_product {
   display: flex;
   height: auto;
   width: 100%;
   background-color: transparent;
   overflow: hidden;
   gap: 10px;
}
                           /* MAIN PRODUCT SIDEBAR */
.main_product-sidebar {
   width: 193px;
   height: 100vh;
   color: white;
   border: 1px solid rgb(255, 255, 255);
   border-radius: 5px;
   overflow-x: hidden;
   overflow-y: scroll;
   scroll-behavior: smooth;
   
}
.main_product-sidebar::-webkit-scrollbar {
   display: none;
}
.main_product-sidebar-category {

}
.main_product-sidebar-header {
   font-size: 1.6rem;
   font-weight: 600;
   text-transform: capitalize;
   padding: 20px 15px;
   margin: 0;
   background-color: rgba(255, 255, 255, 0.2);
}
.main_product-sidebar-list {
   list-style: none;
   margin-bottom: 0;
}
.main_product-sidebar-item {
   display: flex;
   place-items: center;
   padding: 20px 20px;
   margin: 0;
   font-size: 1.2rem;
   font-weight: 500;
   border-top: 1px solid rgb(255, 255, 255);
   background-color: rgba(255, 255, 255, 0.2);
   cursor:default;
   transition: .4s;
}
.main_product-sidebar-item i{
   display: none;
}
.main_product-sidebar-item:hover i {
   display: block;
}
.main_product-sidebar-item input[type="radio"] {
   margin-right: 5px;
   width: 15px;
   height: 15px;
   appearance: radio;
   -webkit-appearance: radio;
}
.main_product-sidebar-item input[type="number"] {
   width: 100%;
   height: 40px;
   padding: 1px 5px;
   margin-right: 5px;
   background-color: white;
   color: #7e7d7d;
   font-weight: 600;
   border-radius: 2px;
   appearance: number;
   -webkit-appearance: number;
   cursor: auto;
}
.main_product-sidebar-item input[type="submit"] {
   width: 100%;
   height: 40px;
   text-align: center;
   font-weight: 600;
   background-color: rgb(129, 129, 129);
   color: #ffffff;
   border-radius: 2px;
   cursor: pointer;
   border: 1px solid #eee;
   border-radius: 3px;
   appearance: submit;
   -webkit-appearance: submit;
}
.main_product-sidebar-item input[type="submit"]:hover {
   background-color: transparent;
}
.main_product-sidebar-category:not(:first-child) 
.main_product-sidebar-header {
   border-top: 3px solid white;
}
.main_product-sidebar-category:first-child
.main_product-sidebar-item:hover,
.main_product-sidebar-category:last-child
.main_product-sidebar-item:hover 
{
   padding-left: 40px;
   cursor: pointer;
   background-color: transparent;
   transform: scale(1.2);
}
                              /* MAIN PRODUCT FILTER */
.main_product-container {
   display: flex;
   flex-direction: column;
   flex: 1;
   height: auto;
   gap: 8px;

}
.main_product-filter {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 80px;
   padding: 5px 20px;
   border: 1px solid rgb(255, 255, 255);
   font-weight: 500;
   font-size: 1.5rem;
   color: white;
   background-color: rgba(255, 255, 255, 0.1);
}
.main_product-filter-left {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   min-width: 100px;
}
.main_product-filter-left * {
   border-radius: 3px;
}
.main_product-filter-left span {
   margin-right: 10px;
}
.main_product-filter-left button {
   flex: 1;
   width: 100px;
   height: 70%;
   margin: 0 10px;
   border: 1px solid white;
   text-align: center;
   cursor: pointer;
}
.main_product-filter-left  select {
   display: flex;
   align-items: center;
   text-align: center;
   position: relative;
   margin-left: 10px;
   border: 1px solid  white;
   height: 70%;
   line-height: 100%;
   width: 170px;
   cursor: pointer;
}
.main_product-filter-left select > option {
   background-color: rgba(246, 246, 246, 0.8);
   color: #494949;
}
.main_product-filter-left select > option:hover {
   background-color: #363636;
   color: #ffffff;
}
.main_product-filter-left i {
   position: absolute;
   right: 1px;
   top: 50%;
   transform: translateY(-37%);
}
.active, .main_product-filter-left button:hover  {
   font-size: 1.9rem;
   background-color: rgba(255, 255, 255, 0.3);
   border: 4px solid white;
}
.main_product-filter-right {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   min-width: 100px;
}
.main_product-filter-right_numpage {
   margin-right: 10px;
}
.main_product-filter-right_numpage 
.current_numpage {
  color: black;
}
.numpage_switchBtn {
   margin-left: 10px;
}
.numpage_switchBtn i {
   padding: 10px;
   border: 1px solid white;
   cursor: default;
}
.numpage_switchBtn i.canUse {
   cursor: pointer;
   background-color: rgba(255, 255, 255, 0.3);
}



                              /* MAIN PRODUCT LIST */
.main_product-list {
   display: flex;
   justify-content: flex-start;
   align-content: flex-start;
   flex-wrap: wrap;
   flex: 1;
   gap: 10px;
   height: auto;
   width: auto;
   background-color: rgba(255, 255, 255, 0.02);
   border: 1px solid rgb(255, 255, 255);
   transition: .25s;
   padding: 4px;
}
.main_product-item {
   width: 190px;
   height: 335px;
   background-color: rgba(255, 255, 255, 0.24);
   color: white;
   border-radius: 3px;
   cursor: pointer;
}
.main_product-item:hover {
   color: white;
   transform: translate(0,-2px);
   box-shadow: 0 2px 4px 2px rgba(00, 0, 0, 0.1);
}
.main_product-item-img {
   position: relative;
   width: 100%;
   height: 180px;
   border-radius: 3px;
}
.main_product-item-img img {
   width: 100%;
   height: 100%;
}
.discount {
   position: absolute;
   top: 0;
   right: 0;
   width: 37px;
   height: 38px;
   padding: 10px auto;
   background-color: var(--yellow);
}
.discount span {
   font-size: 1.2rem;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;
}
.discount .num_discount {
   color: red;
}
.discount::after {
   content: '';
   display: block;
   position: absolute;
   top: 100%;
   right: 0;
   border-width: 4px 9px;
   border-style: solid;
   border-color: var(--yellow) var(--yellow) transparent transparent;
   background-color: transparent;
}
.discount::before {
   content: '';
   display: block;
   position: absolute;
   top: 100%;
   left: 0;
   border-width: 4px 9px;
   border-style: solid;
   border-color: var(--yellow) transparent transparent var(--yellow);
   background-color: transparent;
}
.main_product-item_description {
   margin: 8px;
   line-height: 15px;
   height: 30px;
   display: -webkit-box;
   line-clamp: 2;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   font-weight: 400;
   font-size: 1.3rem;
}
.main_product-item_note {
   margin: 8px;
   border: 1px solid white;
   width: fit-content;
   font-weight: 500;
   color: white;
}
.main_product-item_note span {
   font-size: 1.2rem;
}
.main_product-item_price {
   color: rgb(255, 255, 255);
   text-shadow: white;
   margin: 16px 8px;
   font-size: 1.6rem;
   font-weight: 400;
   mix-blend-mode: difference;
}
.main_product-item:hover .main_product-item_price span{
   color: rgb(0, 0, 0);
}
.main_product-item-wrap {
   margin: 16px 8px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.main_product-item_rate i{
   color: yellow;
}
.rated {
   -webkit-text-fill-color: yellow; 
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: yellow;
}
.main_product-item_numSold {
   font-size: 1.2rem;
}
.main_product-item_status {
   margin: auto 8px 8px;
   font-size: 1.2rem;
}
   /*------------------------------- FOOTER */

#footer {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 80%;
   margin: 25px auto 0;
   padding: 66px 0;
   border-top: 1px solid white;
}
.footer-block {
   position: relative;
   margin: 0 auto;
   width: 20%;
   color: white;
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 3px;
   border: 1px solid white;
}
.footer-block h2 {
   position: absolute;
   top: 0;
   left: 20px;
   transform: translateY(-100%);
   border: 8px solid transparent;
   font-size: 1.5rem;
   text-transform: uppercase;
   background-blend-mode: difference;
}
.footer-block a {
   display: block;
   color: white;
   font-size: 1.4rem;
   margin: 10px 0;
   padding-left: 20px;
   text-decoration: none;
   text-transform: capitalize;
}
.footer-block a:hover {
   color: #d6d6d6;
}
.footer-block img {
   display: block;
   margin: 10px auto;
}
.footer-block .footer-qr {
   max-width: 160px;
   max-height: 160px;
}
.footer-block img:not(.footer-qr) {
   max-width: 110px;
   max-height: 27px;
   margin: 5px auto;
}
